/* Thêm font JetBrains Mono */
@font-face {
  font-family: "MyFont1";
  src: url("../fonts/JetBrainsMono/JetBrainsMono[wght].ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "MyFont1";
  src: url("../fonts/JetBrainsMono/JetBrainsMono-Italic[wght].ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "MyFont2";
  src: url("../fonts/FiraCode/FiraCode-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: justify;
}

header {
  width: 100%;
}

main {
  margin: 3%;
}


table {
  width: 100%;
  border-collapse: collapse;
}

caption {
  caption-side: top;
  font-size: 1.5em;
  margin-bottom: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f0f0f0;
}

tr:hover {
  background-color: #f9f9f9;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}



footer {
  background-color: #333;
  color: #fff;
  font-family: MyFont1;
  font-style: italic;
  font-weight: 100;
  text-align: center;
  height: 5vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
