/* Thêm font JetBrains Mono */
@font-face {
  font-family: "MyFont1";
  src: url("../fonts/JetBrainsMono/JetBrainsMono[wght].ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "MyFont1";
  src: url("../fonts/JetBrainsMono/JetBrainsMono-Italic[wght].ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "MyFont2";
  src: url("../fonts/FiraCode/FiraCode-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: justify;
}

header {
  width: 100%;
}

main {
  /* flex-grow: 1; */
  margin: 0 3%;
}


table {
  width: 100%;
  border-collapse: collapse;
}

table caption {
  caption-side: top;
  font-size: 1.5em;
  margin-bottom: 10px;
}

table  th,table  td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

table th {
  background-color: #f0f0f0;
}

table tr:hover {
  background-color: #f9f9f9;
}

table a {
  color: #007bff;
  text-decoration: none;
}

table a:hover {
  text-decoration: underline;
}

